<!DOCTYPE html>
<html>
<head>
  <title>Leaflet test</title>
  <link rel=stylesheet type=text/css href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
</head>
<p>Welcome to  National Cheng Kung Univeristy</p>

<button onclick="getLocation()">locate your position</button>

<button onclick="callhello2()">Upload</button>
<input type="text" id="item">
<p id="demo"></p>

<script>
var x = document.getElementById("demo");
var lat = 22.98133;
var lon = 120.2224227;
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    map.removeLayer(marker);
    marker = L.marker([lat, lon]).addTo(map);
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;	
    
}


//save data
function callhello2() {
    var item = $("#item").val();

    $.ajax({
        type: 'POST',
        url: '/hello2/',
        data: {"item": item, "lat": lat, "lon":lon},
    })
    .done(function() {
        alert("Success");
    })
}

</script>


<p id="time"></p>

<script>
document.getElementById("time").innerHTML = Date();
</script>



<body>
  <div id="map" style="height:300px; width:1000px;"></div>
    <p>This is my position.</p>

<script>
var map = L.map('map').setView([lat, lon], 14);
mapLink = 'OpenStreetmap';
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
            {
                attribution: 'Map data &copy; ' + mapLink,
                maxZoom: 18
            }
        ).addTo(map);
var marker = L.marker([lat, lon]).addTo(map);
var circle = L.circle([lat, lon], 200, {
    color: 'green',
    fillColor: 'purple',
    fillOpacity: 0.3
}).addTo(map);
var polygon = L.polygon([
    [lat+0.002, lon+0.002],
    [lat+0.002, lon-0.002],
    [lat-0.002, lon+0.002]
]).addTo(map);

var popup = L.popup();

function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
}

map.on('click', onMapClick);
</script>
</body>

</html>
